<form action='/diaristas' method='post' class='mt-5'>
  <div class='mb-3 row'>
    <label for='inputNome' class='col-sm-2 col-form-label'>Nome:</label>
    <div class='col-sm-10'>
      <input class='form-control' id='inputNome' name='nome' required />
    </div>
  </div>
  <div class='mb-3 row'>
    <label for='inputEndereco' class='col-sm-2 col-form-label'>Endereço:</label>
    <div class='col-sm-10'>
      <input class='form-control' id='inputEndereco' name='endereco' required />
    </div>
  </div>
  <div class='mb-3 row'>
    <label for='inputIdade' class='col-sm-2 col-form-label'>Idade:</label>
    <div class='col-sm-10'>
      <input
        type='number'
        class='form-control'
        id='inputIdade'
        name='idade'
        required
      />
    </div>
  </div>
  <input type='submit' value='Cadastrar' class='btn btn-primary' />
</form>